body{
    padding: 0;
    margin: 0;
    background-color: floralwhite;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

.slider-frame{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin-top: 20px;
}

/*---------- SLIDE ANIMATION --------------*/

@keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

.slide-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.img-container {
    min-width: 100%;
    box-sizing: border-box;
}

.img-container img {
    width: 100%;
    height: auto;
}